---
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakConstructorInitializersBeforeComma: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ReflowComments: 'true'
Standard: Cpp03

...
