.git*            export-ignore

*.bmp           -crlf
*.dsp           -crlf
*.dsptemplate   -crlf
*.ico           -crlf
*.jpg           -crlf
*.pl             crlf=input
*.png           -crlf
*.sh             crlf=input
*.tif           -crlf
check_dsp        crlf=input
check_syntax     crlf=input
configure        crlf=input
install-sh       crlf=input
script           crlf=input
vxl_demangle     crlf=input
vxl_env          crlf=input
