#Travis CI configuration for VXL
# See http://travis-ci.org/vxl/vxl

#dist: trusty # This is the default as of August 2017
sudo: false

language: cpp
compiler:
  - clang
  - gcc

# https://docs.travis-ci.com/user/customizing-the-build/
git:
  depth: 3
before_install:
  - TOOLS_DIR=$(pwd)
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then CMAKE_URL="http://www.cmake.org/files/v3.10/cmake-3.10.2-Linux-x86_64.tar.gz"; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then mkdir -p cmake && travis_retry wget --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then export PATH=${TOOLS_DIR}/cmake/bin:${PATH} ; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then echo "need cmake 3.10.2"; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update && brew install ccache cmake; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then export PATH="/usr/local/opt/ccache/libexec:/usr/local/opt/cmake/bin:$PATH"; fi

script:
  - export HERE=$(pwd)
  - ${TOOLS_DIR}/cmake/bin/cmake --version
  - mkdir -p ${HERE}/build
  - mkdir -p ${HERE}/install
  - cd ${HERE}/build
  - ${TOOLS_DIR}/cmake/bin/cmake
          -DCMAKE_INSTALL_PREFIX:PATH=${HERE}/install
          -DCMAKE_CXX_STANDARD:STRING=11
          -DVXL_BUILD_BRL:BOOL=OFF
          -DCMAKE_BUILD_TYPE:STRING=Release
          -DVXL_FORCE_B3P_EXPAT:BOOL=ON
          -DVXL_FORCE_B3P_SHAPELIB:BOOL=ON
          -DVXL_FORCE_V3P_BZLIB2:BOOL=ON
          -DVXL_FORCE_V3P_CLIPPER:BOOL=ON
          -DVXL_FORCE_V3P_DCMTK:BOOL=ON
          -DVXL_FORCE_V3P_GEOTIFF:BOOL=ON
          -DVXL_FORCE_V3P_J2K:BOOL=ON
          -DVXL_FORCE_V3P_JPEG:BOOL=ON
          -DVXL_FORCE_V3P_OPENJPEG2:BOOL=ON
          -DVXL_FORCE_V3P_PNG:BOOL=ON
          -DVXL_FORCE_V3P_TIFF:BOOL=ON
          -DVXL_FORCE_V3P_ZLIB:BOOL=ON
          ../
  - ${TOOLS_DIR}/cmake/bin/ctest -D ExperimentalStart
  - ${TOOLS_DIR}/cmake/bin/ctest -D ExperimentalConfigure
  - ${TOOLS_DIR}/cmake/bin/ctest -D ExperimentalBuild -j2
  - ${TOOLS_DIR}/cmake/bin/ctest -D ExperimentalTest --schedule-random -j2
  - ${TOOLS_DIR}/cmake/bin/ctest -D ExperimentalSubmit
  - make install
