#Travis CI configuration for VXL
# See http://travis-ci.org/vxl/vxl

# sudo is required for using docker containers
sudo: required

services:
  - docker

language: cpp
compiler:
  - gcc
  - clang

# https://docs.travis-ci.com/user/customizing-the-build/
git:
  depth: 3

#cache: false
#  directories:
#  - $HOME/deps

#before_script:
#  - bash .travis/install-deps.sh

#script:
#  - export PATH=$HOME/deps/bin:$PATH
before install:
  - docker build -t vxl/travisMarch7_2016 .

script:
  - dockerRunScript.sh
