/* miniZoomPan styles */

.minizoompan
{
background: #fff;
position: relative; /* always set to relative or offset() won't work */
border: 1px solid lightgray;
padding: 0;
margin: 0;
}

.minizoompan span.loader { /* the loader label*/
position:absolute;
left:0;
top:0;
z-index: 1;
display: none;
color: #000;
background: #fff;
font: normal 9px Arial, Verdana;
padding: 3px;
}
